/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('https://cdn.jsdelivr.net/npm/@fontsource-variable/roboto-slab@5.3.0/index.css');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab Variable', serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
}
